.logo{
    width: 10%;
}
.fondo_custom{
    background-color: rgb(255, 213, 71);

}
div .fondo_custom{
    background-color: #a60012;
}

html{
    scroll-behavior: smooth;
}
.h-60{
    height: 60rem;
}
.bg-mustard{
    background-color: rgba(255, 213, 71, 0.8);
}